.navbar {
    background-color: transparent;
    font-weight: 300;
}

/*.top-nav-collapse {
    background-color: #4285F4;
}*/

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #34302F;
    }
    
}