<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	
		
			<app-navbar></app-navbar>
		<section  class="parallax">
		<div class="view intro-1" style="">
			<div class="full-bg-img">
				<div class="mask flex-center">
					<div class="container text-center white-text wow fadeInUp">
                    <section class="heading">
                    	<h1>SUCCESS IS BI-PRODUCT <br>
                    	 GET EMPOWERED, FIRST</h1>
                    </section>
                </div>
				</div>
			</div>
		</div>
	</section>
	<div _ngcontent-c1="" class="" id="" style="background-color: #193394;visibility:  visible;height: 73px;">
		<span _ngcontent-c1="">
            <p style="
    text-align:  center;
    padding-top: 21px;
    font-size:  18px;
    color:  chartreuse;
    font-family: cursive;
    font-weight:  BOLD;
">Hello how are you!
            </p></span>
    
	</div>





	


</body>
</html>